<div class="container-fluid">
	<div class="row">
        
		<div class="col-md-12">
			<h3 class="my-2 text-center">
				search all music that you want
			</h3>
            <img alt="Bootstrap Image Preview" src="../../image/music.jpg" />
			<div class="row">
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
                    <input class="form-control mr-sm-5" type="text" /> 
					<button type="button" class="mt-4 btn btn-success btn-block"  routerLink="/results">
						Button
					</button>
				</div>
				<div class="col-md-4">
				</div>
			</div>
		</div>
	</div>
</div>